{% extends '@base/admin/base.html.twig' %}
{% block title %}Admin - Categorie{% endblock %}
{% block body %}

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">

                <li class="breadcrumb-item active">genre</li>
            </ol>

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                   genre list </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>pays</th>
                                <th>action</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for g in Genre %}
                                <tr>
                                    <td>{{ g.IdGenre }}</td>
                                    <td>{{ g.Pays}}</td>

                                    <td><a class="btn btn-primary m-1" title="Edit" href="{{ path("update_genre", {'id':g.IdGenre}) }}">
                                            <i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger m-1" title="Delete" href="{{ path("delete_genre", {'id':g.IdGenre}) }}"

                                           onclick="return confirm('Are u sure?')"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}