{% extends '@base/default/base.html.twig' %}
{% block tt %} <h2>EVENT</h2>{% endblock %}
{% block aa %}Rent{% endblock %}
{% block body %}
    <section class="about-us-area">
    <div class="container">
    <div class="row justify-content-between">
    <div class="col-12 col-lg-12">
        <div class="section-heading">
            <form method="post" name="f" id="f" action="{{ path('rent_stand',{'idEvent':idEvent}) }}">

            <table class="table table-borderedless" id="dataTable" width="100%" cellspacing="0">

                    <tr>
                        <td>CIN</td><td><input type="number" name="cin" id="cin" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>Nom</td><td><input type="text" name="Nom" id="Nom" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>Prenom</td><td><input type="text" name="Prenom" id="Prenom" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>Tel</td><td><input type="number" name="Tel" id="Tel" class="form-control"/> </td>
                    </tr>
                <tr>
                    <td>Stands</td>
                    <td>
                <select name="idStand">
                    {% for s in stands %}
                    <option value="{{ s.IdStand }}">{{ s.Description }}</option>
                    {% endfor %}
                </select>
                    </td>
                </tr>
                <tr>
                    <td>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    </td>
                </tr>
                </table>
            </form>
        </div></div></div></div></section>
{% endblock %}