<table>
    <thead>
    <tr>
        <th> id </th>
        <th> cin </th>
        <th> username </th>
        <th> email </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{ aa.id }} </td>
            <td> {{ aa.cin }} </td>
            <td> {{ aa.username }} </td>
            <td> {{ aa.email }} </td>
        </tr>
    </tbody>
</table>