<center>
    <h1>List des voitures</h1>
    <h4 id="logo">Afficher Logo Voiture</h4>
    <div id="zone"></div>
    <table border="1" id="t">
        <tr>
            <td> id</td>
            <td> serie </td>
            <td> Marque</td>
        </tr>
            <tr>
            </tr>
    </table>
    <button id="a">Cacher </button>
    <button id="b">Afficher </button>
    <button id="c">toggle </button>
    <button id="d">vider  </button>
    <button id="e">supprimer  </button>
</center>
<script src="{{ asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
<script>
    $(document).ready(function(){
        //alert("Script working properly");
        $("#a").click(function(){
            $("#t").hide();
        });
        $("#b").click(function(){
            $("#t").show();
        });
        $("#c").click(function(){
            $("#t").toggle();
        });
        $("#d").click(function(){
            $("#t tbody td").empty();
        });
        $("#e").click(function(){
            $("#t").remove();
        });

        $('#logo').hover(function() {
            $('#m').show('logo.png');
            $('#zone').html('<img id="m" src="{{asset('img/bg-img/rent.jpg')}}">');
            $(this).html("logo affiché").css('color','green');
            $("#m").click(function(){
                $("#m").height(100);
                $("#m").width(100);
                $("#m").slideUp(1500);
                $("#m").slideDown(1000);
            });
        });

    });
</script>