{% extends '@base/default/base.html.twig' %}
{% block backgroundimg %}
<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{ asset('img/bg-img/forming.jpg') }});">

    {% endblock %}
{% block tt %} <h2>Forming session</h2>{% endblock %}
{% block aa %}Forming{% endblock %}
{% block body %}


    <section class="about-us-area">
          <div class="center">
    <div class="container">
    <div class="row justify-content-between">
    <div class="col-12 col-lg-7">
        <div class="section-heading">
        <div class="center">
           <center> <form method="post" name="f" id="f" action="{{ path('login_formation',{'idFormation':idformation}) }}">
<div class="center">
            <table class="table table-borderedless" id="dataTable" width="100%" cellspacing="0">

                    <tr>
                        <td>CIN</td><td><input type="number" name="cin" id="cin" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>password</td><td><input type="password" name="password" id="password" class="form-control"/> </td>


                </table>
                </div>
        </div>
    </div>

            <div></div></div>

    </div><br><div><center><button class="btn btn-success w-25" type="submit">Confirm </button></center></div><br></div>

        </form>
        </center>
        </div>
    </section>




{% endblock %}